/* common shared styles */

/*banner section styles*/
.banner {
    background-image: url('../resources/Banner Image.png');
    margin: 50px 140px;
    width: 1320px;
    height: 600px;

    color: #FFF;
    text-align: center;
    font-family: Merriweather;
}

.banner-title{
    font-size: 32px;
    font-weight: 400;
    padding-top: 180px;
}

.banner-description {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; 
}

/*Offer Section Styles*/

.Offer {
    text-align: center;
}

.discount-info {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
}

.discount-title{
    font-size: 88px;
}

.discount-catagory {
    color: #070211;
    font-size: 48px;
}

.offer img {
    width: 800px;
    height: 500px;
}


/* Welcome Section Styles */
.welcome {
    background-image: url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px; 
    margin: 50px 140px; 

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome-container {
    padding: 30px 140px;
}

.welcome-greating {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.welcome-title {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    line-height: 30px;
}

#btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.welcome img {
    padding: 10px 80px;
}


/* Bonus Section Styles */
/* Address Section Styles */

.address {
    /* padding: 100px 385px 215px; */
    padding: 120px 380px;
    text-align: center;
    background-color: rgb(255, 0, 0, 0.1);
    
    margin: 50px 50px 50px 140px;
}

.address h3 {
    font-size: 32px;
}


.address-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 800;
    line-height: 56px;
    text-transform: capitalize;
}

.btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #F00;
    padding: 10px;
    border-radius: 5px;

}



/* Portfolio Section with image gallery style */

.portfolio {
    width: 1320px;
    height: 600px; 
    margin: 50px 140px;
    /* padding: 50px 140px; */
}
.portfolio-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.portfolio-info h1, .subscribe h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.portfolio-info p, .subscribe p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    line-height: 32px;
}

.portfolio-img-gallery {
    margin: 100px auto 50px;
}


.portfolio-img-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 100%;
}

/* Subscribe Section Styles */



